{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "cmf.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "cmf.labels" . | nindent 4 }}
{{- end }}