{{- $data := fromYaml (.Files.Get "data.yaml") -}}
kind: ImageStream
apiVersion: image.openshift.io/v1
metadata:
  name: dotnet-aspnet
  annotations:
    openshift.io/display-name: ASP.NET Core Runtime
spec:
  tags:
  {{- $latestversion := $data.latestversion }}
  {{- $latest := index $data.releases $latestversion }}
  - name: latest
    annotations:
      openshift.io/display-name: ASP.NET Core Runtime (Latest)
      openshift.io/provider-display-name: Red Hat, Inc.
      description: |-
        Base image for running ASP.NET Core applications using the latest ASP.NET Core runtime. For more information, see {{ $latest.aspnetdoc }}.

        WARNING: By selecting this tag, your application will automatically update to use the latest version of .NET available on OpenShift, including major version updates. Instead, it is recommended to use the tag that corresponds to the .NET version targeted by your application. Unless configured differently, .NET applications won't start on a different major runtime version.
      iconClass: icon-dotnet
      tags: dotnet-aspnet,hidden
      supports: dotnet-aspnet
    from:
      kind: ImageStreamTag
      name: '{{ $latestversion }}'
    referencePolicy:
      type: Local
  {{- range $version, $info := $data.releases }}
  - name: {{ $version }}-{{ include "platformTag" $info.platform }}
    annotations:
      openshift.io/display-name: ASP.NET Core {{ $version }} Runtime ({{ $info.platform }})
      openshift.io/provider-display-name: Red Hat, Inc.
      description: Base image for running ASP.NET Core {{ $version }} applications on {{ $info.platform }}. For more information,
        see {{ $info.aspnetdoc }}.
      iconClass: icon-dotnet
      tags: dotnet-aspnet,hidden
      version: '{{ $version }}'
      supports: dotnet-aspnet,dotnet-aspnet:{{ $version }}
    from:
      kind: DockerImage
      name: {{ $info.aspnetrepository }}
    referencePolicy:
      type: Local
  - name: '{{ $version }}'
    annotations:
      openshift.io/display-name: ASP.NET Core {{ $version }} Runtime ({{ $info.platform }})
      openshift.io/provider-display-name: Red Hat, Inc.
      description: Base image for running ASP.NET Core {{ $version }} applications on {{ $info.platform }}. For more information,
        see {{ $info.aspnetdoc }}.
      iconClass: icon-dotnet
      tags: dotnet-aspnet
      version: '{{ $version }}'
      supports: dotnet-aspnet,dotnet-aspnet:{{ $version }}
    from:
      kind: DockerImage
      name: {{ $info.aspnetrepository }}
    referencePolicy:
      type: Local
  {{- end }}
