{{- if and .Values.clickhouse.enabled .Values.clickhouse.secrets.create }}
apiVersion: v1
kind: Secret
metadata:
  namespace: {{ include "tokenvisor.namespace" . }}
  labels:
    app.kubernetes.io/instance: {{ .Values.clickhouse.secrets.existingSecret }}
    app.kubernetes.io/part-of: clickhouse-cluster-test
    {{- include "tokenvisor.labels" . | nindent 4 }}
  name: {{ .Values.clickhouse.secrets.existingSecret }}
type: Opaque
stringData:
  cluster_secret: {{ .Values.clickhouse.secrets.data.cluster_secret }}
  db_user_password: {{ .Values.clickhouse.secrets.data.db_user_password }}
  db_readonly_user_password: {{ .Values.clickhouse.secrets.data.db_readonly_user_password }}
{{- end }}
