{{- if .Values.ghcr.enabled | default false }}
apiVersion: v1
kind: Secret
metadata:
  name: wave-autoscale-ghcr-secret
  namespace: {{ if eq .Release.Namespace "default" }}{{ .Values.default_namespace }}{{ else }}{{ .Release.Namespace }}{{ end }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ .Values.ghcr.dockerconfigjson }}
{{ end }}
