apiVersion: v1
kind: Service
metadata:
  name: wave-autoscale-svc
  namespace: {{ if eq .Release.Namespace "default" }}{{ .Values.default_namespace }}{{ else }}{{ .Release.Namespace }}{{ end }}
  labels:
    app.kubernetes.io/name: wave-autoscale-svc
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/component: service
    app.kubernetes.io/part-of: wave-autoscale
spec:
  selector:
    app.kubernetes.io/name: wave-autoscale
  type: {{ .Values.serviceSpec.type | default "ClusterIP" }}
  ports:
    - name: core
      protocol: TCP
      port: {{ .Values.serviceSpec.core.port }}
      targetPort: {{ .Values.serviceSpec.core.targetPort }}
      {{- with .Values.serviceSpec.core  }}
      nodePort: {{ .nodePort }}
      {{- end }}
    - name: web-console
      protocol: TCP
      port: {{ .Values.serviceSpec.webConsole.port }}
      targetPort: {{ .Values.serviceSpec.webConsole.targetPort }}
      {{- with .Values.serviceSpec.webConsole  }}
      nodePort: {{ .nodePort }}
      {{- end }}
    - name: intelligence
      protocol: TCP
      port: {{ .Values.serviceSpec.intelligence.port }}
      targetPort: {{ .Values.serviceSpec.intelligence.targetPort }}
      {{- with .Values.serviceSpec.intelligence  }}
      nodePort: {{ .nodePort }}
      {{- end }}