apiversion: v1
kind: verify-report
metadata:
    tool:
        verifier-version: 1.0.0
        profile:
            VendorType: partner
            version: v1.1
        chart-uri: N/A
        digests:
            chart: sha256:2c286be0b45a1852634966316cc394bec6ee746e54a991b9caf1ab8c9c39d4e8
            package: c6586e42f85df1dc529892fca9ae41c45279610062c027c4262fc96ff219e4da
        lastCertifiedTimestamp: "2022-07-21T14:04:14.999201+00:00"
        testedOpenShiftVersion: "4.9"
        supportedOpenShiftVersions: '>=4.4'
        providerControlledDelivery: true
    chart:
        name: du
        home: ""
        sources: []
        version: 5.0.1-563
        description: NF Service template.
        keywords: []
        maintainers:
            - name: ran ptf team
              email: srikanth.subbaramu@mavenir.com
              url: ""
        icon: ""
        apiversion: v2
        condition: ""
        tags: ""
        appversion: "0.1"
        deprecated: false
        annotations:
            charts.openshift.io/name: test
        kubeversion: '>= 1.17.0'
        dependencies: []
        type: ""
    chart-overrides: ""
results:
    - check: v1.0/required-annotations-present
      type: Mandatory
      outcome: PASS
      reason: All required annotations present
    - check: v1.0/not-contains-crds
      type: Mandatory
      outcome: PASS
      reason: Chart does not contain CRDs
    - check: v1.0/contains-test
      type: Mandatory
      outcome: PASS
      reason: Chart test files exist
    - check: v1.1/has-kubeversion
      type: Mandatory
      outcome: PASS
      reason: Kubernetes version specified
    - check: v1.0/images-are-certified
      type: Mandatory
      outcome: PASS
      reason: |-
        Image is Red Hat certified : quay.io/mrhcert/5gdu:mvrp-du-x86-5.0.1.563
    - check: v1.0/is-helm-v3
      type: Mandatory
      outcome: PASS
      reason: API version is V2, used in Helm 3
    - check: v1.0/not-contain-csi-objects
      type: Mandatory
      outcome: PASS
      reason: CSI objects do not exist
    - check: v1.0/helm-lint
      type: Mandatory
      outcome: PASS
      reason: Helm lint successful
    - check: v1.0/chart-testing
      type: Mandatory
      outcome: PASS
      reason: Chart tests have passed
    - check: v1.0/contains-values-schema
      type: Mandatory
      outcome: PASS
      reason: Values schema file exist
    - check: v1.0/contains-values
      type: Mandatory
      outcome: PASS
      reason: Values file exist
    - check: v1.0/has-readme
      type: Mandatory
      outcome: PASS
      reason: Chart has a README
